* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

nav ul {
    list-style-type: none;
    background-color: #4682B4;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
}

nav .right {
      float: right;
}
  
nav .left {
      text-transform: uppercase;
      letter-spacing: 2px;
}
  
nav a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    text-align: center;
}
  
nav a:hover {
    background-color: #191970;
}

.main, .contact {
    text-align: center;
    margin-top: 70px;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Crimson Text', serif;
}

.contact p {
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    margin-top: 20px;
    line-height: 30px;
    color: dimgray; 
}

table {
    margin: 20px auto 0 auto;
}

table td {
    line-height: 35px;
    font-size: 20px;
    color: dimgray;
}

table .slogan {
    padding-top: 20px;
}

.form .input {
    width: 500px;
    padding: 15px;
    font-size: 20px;
}

.form .input:focus {
    border-color: #191970;
    outline: none;
}

.form .first, .form .second, .form .third {
    padding: 15px 0 0 0;
}


.form button {
    padding: 15px 20px;
    width: 100%;
    font-family: 'Karla', sans-serif;
    margin-top: 20px;
    background-color: #4682B4;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
}

.form button:hover {
    background-color: #191970;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    min-height: 9vh;
    margin-top: 80px;
    color: white;
    letter-spacing: 2px;
}