* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

nav ul {
    list-style-type: none;
    background-color: #4682B4;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
}

nav .right {
      float: right;
}
  
nav .left {
      text-transform: uppercase;
      letter-spacing: 2px;
}
  
nav a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    text-align: center;
}
  
nav a:hover {
    background-color: #191970;
}

.product-category {
    margin: 70px 0px 5px 30px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #4682B4;
    font-family: 'Crimson Text', serif;
}

.product-category2 {
    margin: 60px 0px 0px 30px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #4682B4;
    font-family: 'Crimson Text', serif;
}

table .product-image {
    padding: 10px 30px;
}

table .product-image1 {
    padding: 30px 30px;
}

table .product-image2 {
    padding: 10px 30px;
}

table .product-image3 {
    padding: 20px 30px 30px 30px;
}

table .product-image4 {
    padding: 10px 30px;
}

table .product-image5 {
    padding: 30px 30px;
}

table .product-info {
    text-align: justify;
    padding: 10px 30px 10px 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    min-height: 9vh;
    margin-top: 60px;
    color: white;
    letter-spacing: 2px;
}